/* VARIABLES*/
$colors :(
    primary:#fff,
    secondary:#000,
    accent:#00a1e4 ,
    theme:#00289e,
    text:#1b2e4b,
    gradient:linear-gradient(90deg, rgba(0,161,228,1) 0%, rgb(0, 40, 158) 100%),
    reverse:linear-gradient(90deg, rgba(0,38,156,1) 0%, rgba(0,161,228,1) 100%),
);
$font-size:16px;
$font-weight:600;
$font-stack: 'Open Sans', sans-serif;
@function color($color-name){
    @return map-get($colors, $color-name )
};